<mat-toolbar>
    <div><a routerLink="/"><mat-icon>movie</mat-icon>MovieTourApp</a></div>
    <div class="header">
    <div><a routerLink="/register"><mat-icon>account_circle</mat-icon>Registruj se</a></div>
    </div>
    </mat-toolbar>

<mat-card apearance="outlined">
    <mat-card-content>
<section>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <mat-form-field>
        <input type="text" matInput placeholder="Unesite svoj email" ngModel name="email" #emailInput="ngModel" required>
        <mat-error *ngIf="emailInput.hasError('required')"> Polje ne sme biti prazno!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Unesite lozinku" ngModel  name="password" required minlength="8"
        #passInput="ngModel">
        <mat-hint align="end">{{passInput.value?.length}} / 8 </mat-hint>
      </mat-form-field>
        <button type="submit" mat-raised-button color="warn" [disabled]="f.invalid"> Prijavi se</button>
        <mat-label *ngIf="errorExists">{{errorText}}</mat-label>
        <a class="register" routerLink="/register" >Nemate nalog? Registrujte se.</a>
      </form>
     </section>
    </mat-card-content>
    </mat-card>

