<section>
    <mat-card class="kartica" *ngFor="let movie of movies">
        <img mat-card-image [src]="movie.slikaUrl" alt="slika">
        <mat-card-content>
            <p></p>
            <p class="naslov">{{movie.ime}}</p>
            <p>Datum prikazivanja: {{ movie.datumPrikazivanja | date:'dd.MM.yyyy'}}</p>
          <p><mat-icon>star</mat-icon>{{ movie.recenzijeKorisnika}}</p>
          <p>{{movie.cenaKarte + ' RSD'}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button type="button" mat-raised-button (click)="reserveMovie(movie)">Rezervisi<mat-icon>add</mat-icon>
           </button>
        </mat-card-actions>
        </mat-card>
</section>
