form {
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 10px;  
    
   
    
}
mat-form-field {
   width: 350px;
  
}
mat-toolbar {
    background-color:#343131!important; 
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    color:beige !important;
    text-decoration: none;
}
a:hover {
    color: black;
}
.header {
    margin-left: auto;
    display: flex;
}  
.header {
    display: flex imo !important;
    justify-content: space-between !important;
    margin-top: 5px;
}
.header  a {
    display: flex !important;
    align-items: center;
    margin-right: 20px;
}
.header mat-icon {
    margin-right: 5px;
}
button {
    background-color: #343131 !important;
    color: beige !important;
}
mat-card {
 width: 400px;
    height: 680px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    
}
mat-card-title {
    margin-bottom: 10px;
    color: beige;
    align-items: center;
}
.return {
    color: #343131 !important;
}