<mat-toolbar>
    <div><a routerLink="/"><mat-icon>movie</mat-icon>MovieTourApp</a></div>
    <div class="header">
    <div><a routerLink="/login"><mat-icon>account_circle</mat-icon>Uloguj se</a></div>
    </div>
    </mat-toolbar>
    <mat-card>
        <mat-card-content apearance="outlined">
            <mat-card-title>Registracija</mat-card-title>
<section>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
        <input matInput placeholder="Unesite svoje ime" ngModel name="text" #emailInput="ngModel" required>
        <mat-error *ngIf="emailInput.hasError('required')">Polje ne može biti prazno.</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input type="password" matInput placeholder="Unesite lozinku" ngModel="password" name="password" required minlength="8"
      #passInput="ngModel">
      <mat-hint align="end">{{passInput.value?.length}} / 8 </mat-hint>
      <mat-error *ngIf="passInput.hasError('required')">Polje ne može biti prazno.</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input  matInput placeholder="Unesite adresu" ngModel="address" name="address" required name="text"
      #addrInput="ngModel">
    <mat-error *ngIf="addrInput.hasError('required')">Polje ne može biti prazno.</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Unesite broj telefona" ngModel name="text" #contInput="ngModel" required>
        <mat-error *ngIf="contInput.hasError('required')">Polje ne može biti prazno.</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Datum rodjenja" [matDatepicker]="picker" ngModel name="dateBirth" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-checkbox ngModel name="accept" required>Prihvatam uslove koriscenja.</mat-checkbox>
      <button type="submit" mat-raised-button  [disabled]="f.invalid"> Registruj se</button>
      <mat-label *ngIf="errorExists">{{errorText}}</mat-label>
      <a class="return" href routerLink="/login">Vrati se nazad na prijavu.</a>
    
    </form>
</section>
</mat-card-content>
</mat-card>
