<mat-toolbar class="toolbar">
    <div class="left-side">
        <a routerLink="/home"><mat-icon>movie</mat-icon>MovieTourApp</a>
        <div *ngIf="userService.currentUser">
          <button mat-raised-button><mat-icon>person</mat-icon>
            {{userService.currentUser.email}}
          </button>
        </div>
      </div>
<div class="right-side">
    <a routerLink="/"><button mat-raised-button><mat-icon>logout</mat-icon>Izloguj se</button></a>
    <a routerLink="/search"><mat-icon>search</mat-icon></a>
   </div>
</mat-toolbar>
<div class="wrapper">
    <h2><mat-icon>
        shopping_basket
       </mat-icon>Korpa</h2>

    <table mat-table [dataSource]="cartItems" class="mat-elevation-z8">

        <ng-container matColumnDef="ime">
          <th mat-header-cell *matHeaderCellDef> Film </th>
          <td mat-cell *matCellDef="let item"> {{item.ime}} </td>
        </ng-container>
      
        <ng-container matColumnDef="zanr">
          <th mat-header-cell *matHeaderCellDef> Žanr </th>
          <td mat-cell *matCellDef="let item"> {{item.zanr}} </td>
        </ng-container>
      
    
        <ng-container matColumnDef="cenaKarte">
          <th mat-header-cell *matHeaderCellDef> Cena Karte</th>
          <td mat-cell *matCellDef="let item"> {{item.cenaKarte}} </td>
        </ng-container>
      
       
        <ng-container matColumnDef="datumPrikazivanja">
          <th mat-header-cell *matHeaderCellDef>Datum prikazivanja</th>
          <td mat-cell *matCellDef="let item">{{item.datumPrikazivanja | date:'dd.MM.yyyy' }}</td>
        </ng-container>

        <ng-container matColumnDef="obrisi">
            <th mat-header-cell *matHeaderCellDef>Obrisi</th>
            <td mat-cell *matCellDef="let item"><button mat-raised-button (click)="removeFromCart(item)"><mat-icon>delete</mat-icon>
              
            </button>
            
          </td>
          </ng-container>
          
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    <button mat-raised-button (click)="clearCart()">Isprazni korpu</button>
</div>
   