mat-toolbar {
    background-color:#343131!important; 
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    color:beige !important;
    text-decoration: none;
}
a:hover {
    color: black;
}
.header {
    margin-left: auto;
    display: flex;
}
mat-card {
    width: 350px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: beige;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
button {
    margin: 10px 10px !important;
    background-color: #343131 !important;
    color: beige !important;
}
.header {
    display: flex imo !important;
    justify-content: space-between !important;
    margin-top: 5px;
}
.header  a {
    display: flex !important;
    align-items: center;
    margin-right: 20px;
}
.header mat-icon {
    margin-right: 5px;
}
